<article>
  <a href="/dashboard"> &larr; Back to dashboard</a>
  <h2>
    Edit comment
  </h2>
  <form class="edit-comment-form">
    <div>
      <textarea name="comment_text" id="comment_text" type="text">{{comment_text}}</textarea>
    </div>
    <button type="submit">Save comment</button>
    <button type="button" class="delete-comment-btn">Delete comment</button>
  </form>
</article>

<script src="/javascript/edit-comment.js"></script>
<script src="/javascript/delete-comment.js"></script>
{{!-- <script src="/javascript/comment.js"></script> --}}