<article>
  <a href="/dashboard"> &larr; Back to dashboard</a>
  <h2>
    Edit Post
  </h2>
  <form class="edit-post-form">
    <div>
      <input class="form-control" name="post-title" type="text" value="{{post.title}}" />
    </div>
    <div>
      <textarea class="form-control mt-1" name="post-content" id="post-content" type="text">{{post.post_content}}</textarea>
    </div>
    <button class="btn btn-success" type="submit">Save post</button>
    <button class="btn btn-danger" type="button" class="delete-post-btn">Delete post</button>
  </form>
</article>

<div class="post">
  <div class="post-title"><h6>Add a comment:</h6></div>
  <div class="post-body">
    <form class="comment-form">
      <div>
        <p>Enter your comment:</p>
        <textarea name="comment-body" class="form-control"></textarea>
      </div>

      <div>
        <button type="submit" class="form-control btn btn-secondary mt-2">Submit</button>
      </div>
    </form>
  </div>
</div>

<h4 class="mt-2">Comments:</h4>
{{> comments post.comments}}

<script src="/javascript/edit-post.js"></script>
<script src="/javascript/delete-post.js"></script>
<script src="/javascript/comment.js"></script>